<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 o************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}


<ol class="biblist">
	
<h3 style="margin-bottom:10px;padding-top:10px;">2023</h3>

<!-- Item: NDSS2023 -->	
<li ><p>
Mark Huasong Meng, Qing Zhang, Guangshuai Xia, Yuwei Zheng, Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Zhi Liu, Sin Gee Teo, Jin Song Dong 
<br>
<b>Post-GDPR Threat Hunting on Android Phones: Dissecting OS-level Safeguards of User-unresettable Identifiers</b> 
<br>
<i>The Network and Distributed System Security Symposium (NDSS) </i>, 2023.
<br />

<a href="javascript:toggleBibtex('NDSS2023')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_NDSS2023" class="bibtex noshow">
<pre>
</pre>
</div>
</li>
	
<h3 style="margin-bottom:10px;padding-top:10px;">2022</h3>
	
<!-- Item: ASE2022-1 -->	
<li ><p>
Fuman Xie, Yanjun Zhang, Chuan Yan, Suwan Li, Lei Bu, Kai Chen, Zi Huang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>
<br>
<b>Scrutinizing Privacy Policy Compliance of Virtual Personal Assistant Apps</b> 
<br>
<i>The 37th IEEE/ACM International Conference on Automated Software Engineering (ASE)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('ASE2022-1')">[BibTeX]</a>
<a href="{{ site.url/files/ASE22-1.pdf }}" >[PDF]</a>
</p>
<div id="bib_ASE2022-1" class="bibtex noshow">
<pre>
</pre>
</div>
</li>
	
<!-- Item: ASE2022-2 -->	
<li ><p>
Suwan Li, Lei Bu, Guangdong Bai, Zhixiu Guo, Kai Chen, Hanlin Wei
<br>
<b>VITAS: Guided Model-based VUI Testing of VPA Apps</b> 
<br>
<i>The 37th IEEE/ACM International Conference on Automated Software Engineering (ASE)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('ASE2022-2')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ASE2022-2" class="bibtex noshow">
<pre>
</pre>
</div>
</li>
	
<!-- Item: ASE2022-3 -->	
<li ><p>
Yuxin Ling, Kailong Wang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Haoyu Wang, Jin Song Dong
<br>
<b>Are They Toeing the Line? Diagnosing Privacy Compliance Violations among Browser Extensions</b> 
<br>
<i>The 37th IEEE/ACM International Conference on Automated Software Engineering (ASE)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('ASE2022-3')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ASE2022-3" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<!-- Item: TDSC2022-1 -->	
<li ><p>
Mark Huasong Meng, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Sin Gee Teo, Zhe Hou, Yan Xiao, Yun Lin, Jin Song Dong
<br>
<b>Adversarial Robustness of Deep Neural Networks: A Survey from a Formal Verification Perspective</b> 
<br>
<i>IEEE Transactions on Dependable and Secure Computing (TDSC) </i>, 2022.
<br />

<a href="javascript:toggleBibtex('TDSC2022-1')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_TDSC2022-1" class="bibtex noshow">
<pre>
@ARTICLE{TDSC2022-1,
  author={Meng, Mark Huasong and Bai, Guangdong and Teo, Sin Gee and Hou, Zhe and Xiao, Yan and Lin, Yun and Dong, Jin Song},
  journal={IEEE Transactions on Dependable and Secure Computing}, 
  title={Adversarial Robustness of Deep Neural Networks: A Survey from a Formal Verification Perspective}, 
  year={2022},
  volume={},
  number={},
  pages={1-1},
  doi={10.1109/TDSC.2022.3179131},
}
</pre>
</div>
</li>

<!-- Item: TDSC2022-2 -->	
<li ><p>
  Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Xue Li, Surya Nepal, Marthie Grobler, Chen Chen, Ryan K L Ko
  <br>
  <b>Preserving Privacy for Distributed Genome-Wide Analysis Against Identity Tracing Attacks</b> 
  <br>
  <i>IEEE Transactions on Dependable and Secure Computing (TDSC) </i>, 2022.
  <br />
  
  <a href="javascript:toggleBibtex('TDSC2022-2')">[BibTeX]</a>
  <a href="{{ site.url/publications }}" >[PDF]</a>
  </p>
  <div id="bib_TDSC2022-2" class="bibtex noshow">
  <pre>
    @ARTICLE{TDSC2022-2,
      author={Zhang, Yanjun and Bai, Guangdong and Li, Xue and Nepal, Surya and Grobler, Marthie and Chen, Chen and Ko, Ryan K L},
      journal={IEEE Transactions on Dependable and Secure Computing}, 
      title={Preserving Privacy for Distributed Genome-Wide Analysis Against Identity Tracing Attacks}, 
      year={2022},
      volume={},
      number={},
      pages={1-17},
      doi={10.1109/TDSC.2022.3186672}, 
    }
  </pre>
  </div>
  </li>
	
<!-- Item: MobiCom2022 -->
<li ><p>
Kailong Wang, Yuwei Zheng, Qing Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Mingchuang Qin, Donghui Zhang, Jin Song Dong
<br>
<b>Assessing Certificate Validation User Interfaces of WPA Supplicants</b> 
<br>
<i>The 28th Annual International Conference On Mobile Computing And Networking (MobiCom)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('MobiCom2022')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_MobiCom2022" class="bibtex noshow">
<pre>
</pre>
</div>
</li>	
	
	
<!-- Item: ADMA2022 -->
<li ><p>
Liuhuo Wan, Yanjun Zhang, Ruiqing Li, Ryan Ko, Louw Hoffman, and Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>
<br>
<b>SATB: A Testbed of IoT-based Smart Agriculture Network for Dataset Generation</b> 
<br>
<i>International Conference on Advanced Data Mining and Applications (ADMA)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('ADMA2022')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ADMA2022" class="bibtex noshow">
<pre>
@InProceedings{ADMA2022,
author="Wan, Liuhuo and Zhang, Yanjun and Li, Ruiqing and Ko, Ryan and Hoffman, Louw and Bai, Guangdong",
title="SATB: A Testbed of IoT-based Smart Agriculture Network for Dataset Generation",
booktitle="Advanced Data Mining and Applications (ADMA)",
year="2022",
}
</pre>
</div>
</li>	
	
	
<!-- Item: ADMA2021 -->
<li ><p>
Fuman Xie, Yanjun Zhang, Hanlin Wei, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>
<br>
<b>UQ-AAS21: A Comprehensive Dataset of Amazon Alexa Skills</b> 
<br>
<i>International Conference on Advanced Data Mining and Applications (ADMA)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('ADMA2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ADMA2021" class="bibtex noshow">
<pre>
@InProceedings{ADMA2021,
author="Xie, Fuman and Zhang, Yanjun and Wei, Hanlin and Bai, Guangdong",
title="UQ-AAS21: A Comprehensive Dataset of Amazon Alexa Skills",
booktitle="Advanced Data Mining and Applications (ADMA)",
year="2021",
pages="159--173",
}
</pre>
</div>
</li>	
	
<!-- Item: PAKDD2022 -->
<li ><p>
Chenhao Zhang, Yanjun Zhang, Jeff Mao, Weitong Chen, Lin Yue, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Miao Xu
<br>
<b>Towards Better Generalization for Neural Network-Based SAT Solvers</b> 
<br>
<i>Pacific-Asia Conference on Knowledge Discovery and Data Mining (PAKDD)</i>, 2022.
<br />

<a href="javascript:toggleBibtex('PAKDD2022')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_PAKDD2022" class="bibtex noshow">
<pre>
@inproceedings{PAKDD,
author = {Zhang, Chenhao and Zhang, Yanjun and Mao, Jeff and Chen, Weitong and Yue, Lin and Bai, Guangdong and Xu, Miao},
title = {Towards Better Generalization for Neural Network-Based SAT Solvers},
year = {2022},
isbn = {978-3-031-05935-3},
publisher = {Springer-Verlag},
address = {Berlin, Heidelberg},
url = {https://doi.org/10.1007/978-3-031-05936-0_16},
doi = {10.1007/978-3-031-05936-0_16},
booktitle = {Advances in Knowledge Discovery and Data Mining: 26th Pacific-Asia Conference, PAKDD 2022, Chengdu, China, May 16–19, 2022, Proceedings, Part II},
pages = {199–210},
numpages = {12},
}
</pre>
</div>
</li>		
	
<!-- Item: JSS2022 -->	
<li ><p>
Hongcan Gao, Chenkai Guo, Guangdong Bai, Dengrong Huang, Zhen He, Yanfeng Wu, Jing Xu
<br>
<b>Sharing runtime permission issues for developers based on similar-app review mining</b> 
<br>
<i>Journal of Systems and Software </i>, 2022.
<br />

<a href="javascript:toggleBibtex('JSS2022')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_JSS2022" class="bibtex noshow">
<pre>
@article{JSS2022,
title = {Sharing runtime permission issues for developers based on similar-app review mining},
journal = {Journal of Systems and Software},
volume = {184},
pages = {111118},
year = {2022},
author = {Hongcan Gao and Chenkai Guo and Guangdong Bai and Dengrong Huang and Zhen He and Yanfeng Wu and Jing Xu},
}
</pre>
</div>
</li>
	


<h3 style="margin-bottom:10px;padding-top:10px;">2021</h3>
<!-- Item: esorics2021 -->
<li ><p>
Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Xue Li, Caitlin Curtis, Chen Chen, Ryan Ko
<br>
<b>Privacy-Preserving Gradient Descent for Distributed Genome-Wide Analysis</b> 
<br>
<i>The 26th European Symposium on Research in Computer Security (ESORICS)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('ESORICS2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ESORICS2021" class="bibtex noshow">
<pre>
@InProceedings{ESORICS2021,
  author = {Yanjun Zhang and Guangdong Bai and Xue Li and Caitlin Curtis and Chen Chen and Ryan Ko}, 
  title = {Privacy-Preserving Gradient Descent for Distributed Genome-Wide Analysis}, 
  year = {2021},
  booktitle = {Proceedings of the 26th European Symposium on Research in Computer Security (ESORICS)}, 
  pages = {},
}
</pre>
</div>
</li>


<li ><p>
Kulani Mahadewa, Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Lei Bu, Zhiqiang Zuo, Dileepa Fernando, Zhenkai Liang, Jin Song Dong
<br>
<b>Identifying privacy weaknesses from multi-party trigger-action integration platforms</b> 
<br>
<i>The 30th ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('ISSTA2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ISSTA2021" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<li ><p>
Hanlin Wei, Behnaz Hassanshahi, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Padmanabhan Krishnan, Kostyantyn Vorobyov
<br>
<b>MoScan: a model-based vulnerability scanner for web single sign-on services</b> (Tool paper) 
<br>
<i>The 30th ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('ISSTA2021-t')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ISSTA2021-t" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<li ><p>
Liu Wang, Ruiqing Li, Jiaxin Zhu, Guangdong Bai, Weihang Su, Haoyu Wang
<br>
<b>Understanding the Impact of COVID-19 on Github Developers: A Preliminary Study</b> 
<br>
<i>The 33rd International Conference on Software Engineering & Knowledge Engineering (SEKE) </i>, 2021.
<br />

<a href="javascript:toggleBibtex('SEKE2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_SEKE2021" class="bibtex noshow">
<pre>
</pre>
</div>
</li>
	
<li ><p>
Yuteng Lu, Weidi Sun, Guangdong Bai, Meng Sun
<br>
<b>DeepAuto: A First Step Towards Formal Verification of Deep Learning Systems</b> 
<br>
<i>The 33rd International Conference on Software Engineering & Knowledge Engineering (SEKE) </i>, 2021.
<br />

<a href="javascript:toggleBibtex('SEKE2021-2')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_SEKE2021-2" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<li ><p>
Liu Wang, Ruiqing Li, Jiaxin Zhu, Guangdong Bai, Haoyu Wang
<br>
<b>A Large-Scale Empirical Study of COVID-19 Themed GitHub Repositories</b> 
<br>
<i>IEEE 45th Annual Computers, Software, and Applications Conference (COMPSAC)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('COMPSAC2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_COMPSAC2021" class="bibtex noshow">
<pre>
</pre>
</div>
</li>


<li ><p>
Kailong Wang, Junzhe Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Ryan Ko, Jin Song Dong
<br>
<b>It's Not Just the Site, It's the Contents: Intra-domain Fingerprinting Social Media Websites Through CDN Bursts</b> 
<br>
<i>The Web Conference (WWW)</i>, 2021.
<br />

<a href="javascript:toggleBibtex('WWW2021')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_WWW2021" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<h3 style="margin-bottom:10px;padding-top:10px;">2020</h3>
<!-- Item: esorics2020 -->
<li ><p>
Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Xue Li, Caitlin Curtis, Chen Chen, Ryan K. L. Ko
<br>
<b>PrivColl: Practical Privacy-Preserving Collaborative Machine Learning</b> 
<br>
<i>The 25th European Symposium on Research in Computer Security (ESORICS)</i>, 2020.
<br />

<a href="javascript:toggleBibtex('ESORICS2020')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2007.06953" target="_blank">[PDF]</a>
</p>
<div id="bib_ESORICS2020" class="bibtex noshow">
<pre>
@InProceedings{ESORICS2020,
  author = {Yanjun Zhang and Guangdong Bai and Xue Li and Caitlin Curtis and Chen Chen and Ryan K. L. Ko}, 
  title = {PrivColl: Practical Privacy-Preserving Collaborative Machine Learning}, 
  year = {2020},
  booktitle = {Proceedings of the 25th European Symposium on Research in Computer Security (ESORICS)}, 
  pages = {},
}
</pre>
</div>
</li>

<!-- Item: is2020 -->
<li ><p>
Yanjun Zhang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Mingyang Zhang, Xue Li, Ryan Ko
<br>
<b>Differentially private collaborative coupling learning for recommender systems</b>
<br>
<i>IEEE Intelligent Systems</i>, 2020. 
<br />

<a href="javascript:toggleBibtex('IS2020')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9130104" target="_blank">[PDF]</a>
</p>
<div id="bib_IS2020" class="bibtex noshow">
<pre>
@Article{IS2020,
  author = {Yanjun Zhang and Guangdong Bai and Mingyang Zhang and Xue Li and Ryan Ko}, 
  title = {Differentially private collaborative coupling learning for recommender systems}, 
  year = {2020},
  journal = {IEEE Intelligent Systems},
  pages = {},
}
</pre>
</div>
</li>

<!-- Item: InfoSci2020 -->
<li ><p>
Chenkai Guo, Dengrong Huang, Jianwen Zhang, Jing Xu, Guangdong Bai, Naipeng Dong
<br>
<b>Early prediction for mode anomaly in generative adversarial network training: An empirical study</b>
<br>
<i>Information Sciences</i>, 2020. 
<br />

<a href="javascript:toggleBibtex('INFOSCI2020')">[BibTeX]</a>
<a href="https://www.sciencedirect.com/science/article/pii/S0020025520304722" target="_blank">[PDF]</a>
</p>
<div id="bib_INFOSCI2020" class="bibtex noshow">
<pre>
@Article{INFOSCI2020,
  title = {Early prediction for mode anomaly in generative adversarial network training: An empirical study},
  journal = {Information Sciences},
  volume = {534},
  pages = {117 - 138},
  year = {2020},
  author = {Chenkai Guo and Dengrong Huang and Jianwen Zhang and Jing Xu and Guangdong Bai and Naipeng Dong},
}
</pre>
</div>
</li>

<!-- Item: neuro2020 -->
<li ><p>
Yanfeng Wu, Chenkai Guo, Hongcan Gao, Jing Xu, Guangdong Bai
<br>
<b>Dilated residual networks with multi-level attention for speaker verification</b>
<br>
<i>Neurocomputing</i>, 2020. 
<br />

<a href="javascript:toggleBibtex('NEURO2020')">[BibTeX]</a>
<a href="https://www.sciencedirect.com/science/article/pii/S0925231220310675" target="_blank">[PDF]</a>
</p>
<div id="bib_NEURO2020" class="bibtex noshow">
<pre>
@Article{NEURO2020,
  author = {Yanfeng Wu and Chenkai Guo and Hongcan Gao and Jing Xu and Guangdong Bai},
  title = {Dilated residual networks with multi-level attention for speaker verification}, 
  year = {2020},
  journal = {Neurocomputing},
  volume = {412},
  pages = {177 - 186},
}
</pre>
</div>
</li>

<!-- Item: ker2020-->
<li ><p>
Naipeng Dong, Guangdong Bai, Lung-Chen Huang, Edmund Kok Heng Lim, Jin Song Dong
<br>
<b>A blockchain-based decentralized booking system</b>
<br>
<i>The Knowledge Engineering Review</i>, 2020. 
<br />

<a href="javascript:toggleBibtex('KER2020')">[BibTeX]</a>
<a href="https://www.cambridge.org/core/journals/knowledge-engineering-review/article/blockchainbased-decentralized-booking-system/76E6120CD8E304139F02D3FBF1FEBFAD" target="_blank">[PDF]</a>
</p>
<div id="bib_KER2020" class="bibtex noshow">
<pre>
@Article{KER2020,
  title={A blockchain-based decentralized booking system}, 
  volume={35}, 
  DOI={10.1017/S0269888920000260}, 
  journal={The Knowledge Engineering Review}, 
  publisher={Cambridge University Press}, 
  author={Dong, Naipeng and Bai, Guangdong and Huang, Lung-Chen and Lim, Edmund Kok Heng and Dong, Jin Song}, 
  year={2020}, 
  pages={e17}
}

</pre>
</div>
</li>


<li ><p>
Taejun Choi, Guangdong Bai, Ryan KL Ko, Naipeng Dong, Wenlu Zhang, Shunyao Wang
<br>
<b>An Analytics Framework for Heuristic Inference Attacks against Industrial Control Systems</b> 
<br>
<i>IEEE 19th International Conference on Trust, Security and Privacy in Computing and Communications (TrustCom)</i>, 2020.
<br />

<a href="javascript:toggleBibtex('TrustCom2020')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_TrustCom2020" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<li ><p>
Hanlin Wei, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Zongwei Luo
<br>
<b>Foggy: A New Anonymous Communication Architecture Based on Microservices</b> 
<br>
<i>The 25th International Conference on Engineering of Complex Computer Systems (ICECCS)</i>, 2020.
<br />

<a href="javascript:toggleBibtex('ICECCS2020-1')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ICECCS2020-1" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<li ><p>
Ru Ji, Ningyu He, Lei Wu, Haoyu Wang, Guangdong Bai, Yao Guo
<br>
<b>Deposafe: Demystifying the fake deposit vulnerability in ethereum smart contracts</b> 
<br>
<i>The 25th International Conference on Engineering of Complex Computer Systems (ICECCS)</i>, 2020.
<br />

<a href="javascript:toggleBibtex('ICECCS2020-2')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ICECCS2020-2" class="bibtex noshow">
<pre>
</pre>
</div>
</li>


<li ><p>
Pengcheng Xia, Haoyu Wang, Xiapu Luo, Lei Wu, Yajin Zhou, Guangdong Bai, Guoai Xu, Gang Huang, Xuanzhe Liu
<br>
<b>Don't fish in troubled waters! characterizing coronavirus-themed cryptocurrency scams</b> 
<br>
<i>2020 APWG Symposium on Electronic Crime Research (eCrime)</i>, 2020.
<br />

<a href="javascript:toggleBibtex('ECrime2020')">[BibTeX]</a>
<a href="{{ site.url/publications }}" >[PDF]</a>
</p>
<div id="bib_ECrime2020" class="bibtex noshow">
<pre>
</pre>
</div>
</li>

<h3 style="margin-bottom:10px;padding-top:10px;">2019</h3>

<!-- Item: tse2019 -->
<li ><p>
Kulani Mahadewa, Kailong Wang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Ling Shi, Yan Liu, Jin Song Dong and Zhenkai Liang
<br>
<b>Scrutinizing Implementations of Smart Home Integrations</b>
<br>
<i>IEEE Transactions on Software Engineering (TSE)</i>, 2019.
<br />

<a href="javascript:toggleBibtex('TSE2019')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/8936860" target="_blank">[PDF]</a>
</p>
<div id="bib_TSE2019" class="bibtex noshow">
<pre>
@Article{TSE2019,
 author={Mahadewa, Kulani and Wang, Kailong and Bai, Guangdong and Shi, Ling and Dong, Jin Song and Liang, Zhenkai},
 journal={IEEE Transactions on Software Engineering},
 title={Scrutinizing Implementations of Smart Home Integrations},
 year={2019},
 volume={},
 number={},
 pages={},
}
</pre>
</div>
</li>

<!-- Item: IEEEST2019 -->
<li ><p>
Pardeep Kumar, Yun Lin, Guangdong Bai, Andrew Paverd, Jin Song Dong, Andrew Martin
<br>
<b>Smart Grid Metering Networks: A Survey on Security, Privacy and Open Research Issues</b>
<br>
<i>IEEE Communications Surveys & Tutorials</i>, 2019.
<br />

<a href="javascript:toggleBibtex('IEEEST2019')">[BibTeX]</a>
<a href="/files/IEEEST2019.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_IEEEST2019" class="bibtex noshow">
<pre>
@ARTICLE{IEEEST2019, 
author={Kumar, Pardeep and Lin, Yun and Bai, Guangdong and Paverd, Andrew and Dong, Jin Song and Martin, Andrew}, 
journal={IEEE Communications Surveys \& Tutorials}, 
title={Smart Grid Metering Networks: A Survey on Security, Privacy and Open Research Issues}, 
year={2019}, 
volume={}, 
number={}, 
pages={1-1}, 
doi={10.1109/COMST.2019.2899354}, 
ISSN={1553-877X}, 
month={},
}
</pre>
</div>
</li>

<!-- Item: ase2019 -->
<li ><p>
Tianming Liu, Haoyu Wang, Li Li, Guangdong Bai, Yao Guo and Guoai Xu
<br>
<b>DaPanda: Detecting Aggressive Push Notification in Android Apps</b>
<br>
<i>The 34th IEEE/ACM International Conference on Automated Software Engineering (ASE)</i>, 2019.
<br />

<a href="javascript:toggleBibtex('ASE2019')">[BibTeX]</a>
</p>
<div id="bib_ASE2019" class="bibtex noshow">
<pre>
@InProceedings{ASE2019,
  author = {Liu, Tianming and Wang, Haoyu and Li, Li and Bai, Guangdong and Guo, Yao and Xu, Guoai},
  title = {DaPanda: Detecting Aggressive Push Notifications in Android Apps},
  year = {2019},
  publisher = {IEEE Press},
  booktitle = {Proceedings of the 34th IEEE/ACM International Conference on Automated Software Engineering (ASE)},
  pages = {66–78},
  numpages = {13},
  location = {San Diego, California},
}
</pre>
</div>
</li>
	
<!-- Item: isc2019 -->
<li ><p>
Quanqi Ye, Yan Zhang, Guangdong Bai, Naipeng Dong, Zhenkai Liang, Jin Song Dong and Haoyu Wang
<br>
<b>LightSense: A Novel Side Channel for Zero-permission Mobile User Tracking</b>
<br>
<i>the 22nd International Conference Information Security (ISC) </i>, 2019.
<br />

<a href="javascript:toggleBibtex('ISC2019')">[BibTeX]</a>
<a href="https://link.springer.com/chapter/10.1007/978-3-030-30215-3_15" target="_blank">[PDF]</a>
</p>
<div id="bib_ISC2019" class="bibtex noshow">
<pre>
@inproceedings{ISC2019,
  author    = {Quanqi Ye and Yan Zhang and Guangdong Bai and Naipeng Dong and Zhenkai Liang and Jin Song Dong and Haoyu Wang},
  title     = {LightSense: {A} Novel Side Channel for Zero-permission Mobile User Tracking},
  booktitle = {Proceedings of the 22nd International Conference Information Security (ISC)},
  pages     = {299--318},
  year      = {2019},
}
</pre>
</div>
</li>



<h3 style="margin-bottom:10px;padding-top:10px;">2018</h3>
<!-- Item: tse2018 -->
<li ><p>
Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Quanqi Ye, Yongzheng Wu, Heila Botha, Jun Sun, Yang Liu, Jin Song Dong and Willem Visser
<br>
<b>Towards Model Checking Android Applications</b>
<br>
<i>IEEE Transactions on Software Engineering (TSE)</i>, 44(6): 595-612, 2018.
<br />

<a href="javascript:toggleBibtex('TSE2018')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/7911333" target="_blank">[PDF]</a>
</p>
<div id="bib_TSE2018" class="bibtex noshow">
<pre>
@Article{TSE2018,
 author={Bai, Guangdong and Ye, Quanqi and Wu, Yongzheng and Botha, Heila and Sun, Jun and Liu, Yang and Dong, Jin Song and Visser, Willem},
 journal={IEEE Transactions on Software Engineering},
 title={Towards Model Checking Android Applications},
 year={2018},
 volume={44},
 number={6},
 pages={595-612},
}
</pre>
</div>
</li>

<!-- Item: iceccs2018a -->
<li ><p>
Kulani Mahadewa, Kailong Wang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Ling Shi, Jin Song Dong and Zhenkai Liang
<br>
<b>HomeScan: Scrutinizing Implementations of Smart Home Integrations</b>
<br>
<i>23rd International Conference on Engineering of Complex Computer Systems (ICECCS)</i>, 2018.
<br />

<a href="javascript:toggleBibtex('ICECCS2018a')">[BibTeX]</a>
<a href="/files/ICECCS2018a.pdf" target="_blank">[PDF]</a>
<a href="/files/ICECCS2018a-slides.pdf" target="_blank">[Slides]</a>
</p>
<div id="bib_ICECCS2018a" class="bibtex noshow">
<pre>
@InProceedings{ICECCS2018a,
  author = {Mahadewa, Kulani and Wang, Kailong and Bai, Guangdong and Shi, Ling and Dong, Jin Song and Liang, Zhenkai},
  title = {HomeScan: Scrutinizing Implementations of Smart Home Integrations},
  booktitle = {Proceedings of the 23rd International Conference on Engineering of Complex Computer Systems (ICECCS)},
  year = {2018},
  pages = {21--30},
}
</pre>
</div>
</li>

<!-- Item: iceccs2018b -->
<li ><p>
Wai Yan Maung Maung Thin, Naipeng Dong, Guangdong Bai and Jin Song Dong
<br>
<b>Formal Analysis of a Proof-of-Stake Blockchain</b>
<br>
<i>23rd International Conference on Engineering of Complex Computer Systems (ICECCS)</i>, 2018.
<br />

<a href="javascript:toggleBibtex('ICECCS2018b')">[BibTeX]</a>
<a href="/files/ICECCS2018b.pdf" target="_blank">[PDF]</a>
<a href="/files/ICECCS2018b-slides.pdf" target="_blank">[Slides]</a>
<a href="https://github.com/waiyan1612/blockchain-analysis" target="_blank">[Models]</a>
</p>
<div id="bib_ICECCS2018b" class="bibtex noshow">
<pre>
@InProceedings{ICECCS2018b,
  author = {Thin, Wai Yan Maung Maung and Dong, Naipeng and Bai, Guangdong and Dong, Jin Song},
  title = {Formal Analysis of a Proof-of-Stake Blockchain},
  booktitle = {Proceedings of the 23rd International Conference on Engineering of Complex Computer Systems (ICECCS)},
  year = {2018},
  pages = {197--200},
}
</pre>
</div>
</li>



<!-- Item: ASE2018 -->
<li ><p>
Yun Lin, Jun Sun, Lyly Tran, Guangdong Bai, Haijun Wang and Jin Song Dong
<br>
<b>Break the dead end of dynamic slicing: localizing data and control omission bug </b>
<br>
<i> ACM/IEEE International Conference on Automated Software Engineering (ASE)</i>,  2018.
<br />
<a href="javascript:toggleBibtex('ASE2018')">[BibTeX]</a>
<a href="http://linyun.info/tregression/slicebreaker.pdf" target="_blank">[PDF]</a>
</p>
<div id="bib_ASE2018" class="bibtex noshow">
<pre>
@InProceedings{ASE2018,
  author = {Lin, Yun and Sun, Jun and Tran, Lyly and Bai, Guangdong and Wang, Haijun and Dong, Jinsong},
  title = {Break the Dead End of Dynamic Slicing: Localizing Data and Control Omission Bug},
  booktitle = {Proceedings of the 33rd ACM/IEEE International Conference on Automated Software Engineering (ASE)},
  year = {2018},
  pages = {509--519},
  publisher = {ACM},
  address = {New York, NY, USA},
}
</pre>
</div>
</li>


<h3 style="margin-bottom:10px;padding-top:10px;">2017</h3>

<!-- Item: ACSAC2017 -->
<li ><p>
Binbin Chen, Xinshu Dong, Guangdong Bai, Sumeet Jauhar and Yueqiang Cheng
<br>
<b>Secure and Efficient Software-based Attestation for Industrial Control Devices with ARM Processors </b>
<br>
<i> Annual Computer Security Applications Conference (ACSAC)</i>, 2017.
<br />
<a href="javascript:toggleBibtex('ACSAC2017')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_ACSAC2017" class="bibtex noshow">
<pre>
@InProceedings{ACSAC2017,
 author = {Chen, Binbin and Dong, Xinshu and Bai, Guangdong and Jauhar, Sumeet and Cheng, Yueqiang},
 title = {Secure and Efficient Software-based Attestation for Industrial Control Devices with ARM Processors},
 booktitle = {Proceedings of the 33rd Annual Computer Security Applications Conference (ACSAC) },
 year = {2017},
 location = {Orlando, FL, USA},
 pages = {425--436},
 publisher = {ACM},
 address = {New York, NY, USA},
}
</pre>
</div>
</li>

<!-- Item: SecureComm2017a -->
<li ><p>
Quanqi Ye, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Naipeng Dong and Jin Song Dong
<br>
<b>Inferring Implicit Assumptions and Correct Usage of Mobile Payment Protocols </b>
<br>
<i> International Conference on Security and Privacy in Communication Networks (SecureComm)</i>, 2017.
<br />
<a href="javascript:toggleBibtex('SecureComm2017a')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_SecureComm2017a" class="bibtex noshow">
<pre>
@InProceedings{SecureComm2017a,
author="Ye, Quanqi and Bai, Guangdong and Dong, Naipeng and Dong, Jin Song",
title="Inferring Implicit Assumptions and Correct Usage of Mobile Payment Protocols",
booktitle="Security and Privacy in Communication Networks (SecureComm)",
year="2017",
publisher="Springer International Publishing",
address="Cham",
pages="469--488",
}
</pre>
</div>
</li>

<!-- Item: SecureComm2017b -->
<li ><p>
Kailong Wang, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Naipeng Dong and Jin Song Dong
<br>
<b>A Framework for Formal Analysis of Privacy on SSO Protocols </b>
<br>
<i> International Conference on Security and Privacy in Communication Networks (SecureComm)</i>, 2017.
<br />
<a href="javascript:toggleBibtex('SecureComm2017b')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_SecureComm2017b" class="bibtex noshow">
<pre>
@InProceedings{SecureComm2017b,
author="Wang, Kailong and Bai, Guangdong and Dong, Naipeng and Dong, Jin Song",
title="A Framework for Formal Analysis of Privacy on SSO Protocols",
booktitle="Security and Privacy in Communication Networks (SecureComm)",
year="2017",
publisher="Springer International Publishing",
address="Cham",
pages="763--777",
}
</pre>
</div>
</li>

<!-- Item: ICFEM2017 -->
<li ><p>
Li Li, Naipeng Dong, Jun Pang, Jun Sun, Guangdong Bai, Yang Liu and Jin Song Dong
<br>
<b>A Verification Framework for Stateful Security Protocols </b>
<br>
<i> International Conference on Formal Engineering Methods (ICFEM)</i>, 2017.
<br />
<a href="javascript:toggleBibtex('ICFEM2017')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_ICFEM2017" class="bibtex noshow">
<pre>
@InProceedings{ICFEM2017,
 author="Li, Li and Dong, Naipeng and Pang, Jun and Sun, Jun and Bai, Guangdong and Liu, Yang and Dong, Jin Song",
 title="A Verification Framework for Stateful Security Protocols",
 booktitle="Formal Methods and Software Engineering (ICFEM)",
 year="2017",
 publisher="Springer International Publishing",
 pages="262--280",
}
</pre>
</div>
</li>

<!-- Item: PAC2017 -->
<li ><p>
Yinhao Xiao, Guangdong Bai, Jian Mao, Zhenkai Liang and Wei Cheng
<br>
<b>Privilege Leakage and Information Stealing through the Android Task Mechanism </b>
<br>
<i> IEEE Symposium on Privacy-Aware Computing (PAC)</i>, 2017.
<br />
<a href="javascript:toggleBibtex('PAC2017')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_PAC2017" class="bibtex noshow">
<pre>
@InProceedings{PAC2017,
 author={Y. Xiao and G. Bai and J. Mao and Z. Liang and W. Cheng},
booktitle={2017 IEEE Symposium on Privacy-Aware Computing (PAC)},
title={Privilege Leakage and Information Stealing through the Android Task Mechanism},
year={2017},
pages={152-163},
}
</pre>
</div>
</li>


<h3 style="margin-bottom:10px;padding-top:10px;">2016</h3>

<!-- Item: PETS2016 -->
<li ><p>
Yaoqi Jia, Guangdong Bai, Prateek Saxena and Zhenkai Liang
<br>
<b>Anonymity in Peer-assisted CDNs: Inference Attacks and Mitigation </b>
<br>
<i> Privacy Enhancing Technologies (PETS)</i>, 2016.
<br />
<a href="javascript:toggleBibtex('PETS2016')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_PETS2016" class="bibtex noshow">
<pre>
@article { PETS2016,
      author = "Yaoqi Jia and Guangdong Bai and Prateek Saxena and Zhenkai Liang",
      title = "Anonymity in Peer-assisted CDNs: Inference Attacks and Mitigation",
      journal = "Proceedings on Privacy Enhancing Technologies (PETS)",
      year = "2016",
      volume = "2016",
      number = "4",
      pages:      294 - 314",
}
</pre>
</div>
</li>

<!-- Item: ICECCS2016a -->
<li ><p>
Shuang Liu, Guangdong Bai, Jun Sun and Jin Song Dong
<br>
<b>Towards Using Concurrent Java API Correctly </b>
<br>
<i> International Conference on Engineering of Complex Computer Systems
(ICECCS)</i>, 2016.
<br />
<a href="javascript:toggleBibtex('ICECCS2016a')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/7816591" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2016a" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2016a,
author={S. Liu and G. Bai and J. Sun and J. S. Dong},
booktitle={2016 21st International Conference on Engineering of Complex Computer Systems (ICECCS)},
title={Towards Using Concurrent Java API Correctly},
year={2016},
pages={219-222},
}
</pre>
</div>
</li>
	
<!-- Item: ICECCS2016b -->
<li ><p>
Chenkai Guo, Quanqi Ye, Naipeng Dong, Guangdong Bai, Jin Song Dong and Jing Xu
<br>
<b>Automatic Construction of Callback Model for Android Application</b>
<br>
<i> International Conference on Engineering of Complex Computer Systems
(ICECCS)</i>, 2016.
<br />
<a href="javascript:toggleBibtex('ICECCS2016b')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/7816594" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2016b" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2016b,
author={C. Guo and Q. Ye and N. Dong and G. Bai and J. S. Dong and J. Xu},
booktitle={2016 21st International Conference on Engineering of Complex Computer Systems (ICECCS)},
title={Automatic Construction of Callback Model for Android Application},
year={2016},
pages={231-234},
}
</pre>
</div>
</li>

<h3 style="margin-bottom:10px;padding-top:10px;">2015</h3>

<!-- Item: ICECCS2015a -->
<li ><p>
Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Jun Sun, Jianliang Wu, Quanqi Ye, Li Li, Jin Song Dong and Shanqing Guo
<br>
<b>All Your Sessions are Belong to us: Investigating Authenticator Leakage through Backup Channels on Android </b>
<br>
<i> International Conference on Engineering of Complex Computer Systems
(ICECCS)</i>, 2015.
<br />
<font color="red"> <b> Best Paper Award </b></font>
<a href="javascript:toggleBibtex('ICECCS2015a')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2015a" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2015a,
 author = {Bai, Guangdong and Sun, Jun and Wu, Jianliang and Ye, Quanqi and Li, Li and Dong, Jin Song and Guo, Shanqing},
 title = {All Your Sessions Are Belong to Us: Investigating Authenticator Leakage Through Backup Channels on Android},
 booktitle = {Proceedings of the 2015 20th International Conference on Engineering of Complex Computer Systems (ICECCS)},
 year = {2015},
 pages = {60--69},,
 publisher = {IEEE Computer Society},
 address = {Washington, DC, USA},
}
</pre>
</div>
</li>

<!-- Item: ICECCS2015b -->
<li ><p>
Quanqi Ye, Guangdong Bai<span style="color:DarkOrange">[&#617;]</span> and Jin Song Dong
<br>
<b>Formal Analysis of a Single Sign-on Protocol
Implementation for Android</b>
<br>
<i> International Conference on Engineering of Complex Computer Systems
(ICECCS)</i>, 2015.
<br />
<a href="javascript:toggleBibtex('ICECCS2015b')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2015b" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2015b,
 author = {Ye, Quanqi and Bai, Guangdong and Wang, Kailong and Dong, Jin Song},
 title = {Formal Analysis of a Single Sign-On Protocol Implementation for Android},
 booktitle = {Proceedings of the 2015 20th International Conference on Engineering of Complex Computer Systems (ICECCS)},
 year = {2015},
 pages = {90--99},
 numpages = {10},
 publisher = {IEEE Computer Society},
 address = {Washington, DC, USA},
}
</pre>
</div>
</li>


<!-- Item: GLOBECOM2015 -->
<li ><p>
Haoyu Wang, Yao Guo, Zihao Tang, Guangdong Bai and Xiangqun Chen
<br>
<b>Reevaluating Android
Permission Gaps with Static and Dynamic Analysis</b>
<br>
<i> IEEE Global Communications Conference
(GLOBECOM)</i>, 2015.
<br />
<a href="javascript:toggleBibtex('GLOBECOM2015')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_GLOBECOM2015" class="bibtex noshow">
<pre>
@inproceedings{GLOBECOM2015,
author={H. Wang and Y. Guo and Z. Tang and G. Bai and X. Chen},
booktitle={2015 IEEE Global Communications Conference (GLOBECOM)},
title={Reevaluating Android Permission Gaps with Static and Dynamic Analysis},
year={2015},
}
</pre>
</div>
</li>

<h3 style="margin-bottom:10px;padding-top:10px;">2014</h3>


<!-- Item: FM2014 -->
<li ><p>
Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Jianan Hao, Jianliang Wu, Yang Liu, Zhenkai Liang and Andrew Martin
<br>
<b>TrustFound: Towards a Formal Foundation for Model Checking Trusted Computing Platforms</b>
<br>
<i> International Symposium on Formal Methods
(FM)</i>, 2014.
<br />
<a href="javascript:toggleBibtex('FM2014')">[BibTeX]</a>
<a href="https://link.springer.com/chapter/10.1007/978-3-319-06410-9_8" target="_blank">[PDF]</a>
</p>
<div id="bib_FM2014" class="bibtex noshow">
<pre>
@inproceedings{FM2014,
 author = {Bai, Guangdong and Hao, Jianan and Wu, Jianliang and Liu, Yang and Liang, Zhenkai and Martin, Andrew},
 title = {TrustFound: Towards a Formal Foundation for Model Checking Trusted Computing Platforms},
 booktitle = {Proceedings of the 19th International Symposium on Formal Methods (FM)},
 year = {2014},
 pages = {110--126},
 numpages = {17},
 publisher = {Springer-Verlag New York, Inc.},
 address = {New York, NY, USA},
}

</pre>
</div>
</li>

<!-- Item: ICECCS2014 -->
<li ><p>
Xiaolei Li, Hong Hu, Guangdong Bai, Yaoqi Jia, Zhenkai Liang, Prateek Saxena
<br>
<b>DroidVault: A
Trusted Data Vault for Android Devices</b>
<br>
<i> International Conference on Engineering of Complex Computer Systems
(ICECCS)</i>, 2014.
<br />
<font color="red"> <b> Best Paper Award </b></font>
<a href="javascript:toggleBibtex('ICECCS2014')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/6923115/" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2014" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2014,
  author = {Li, Xiaolei and Hu, Hong and Bai, Guangdong and Jia, Yaoqi and Liang, Zhenkai and Saxena, Prateek},
 title = {DroidVault: A Trusted Data Vault for Android Devices},
 booktitle = {Proceedings of the 2014 19th International Conference on Engineering of Complex Computer Systems (ICECCS)},
 year = {2014},
 pages = {29--38},
 publisher = {IEEE Computer Society},
 address = {Washington, DC, USA},
}
</pre>
</div>
</li>

<h3 style="margin-bottom:10px;padding-top:10px;">2013</h3>

<!-- Item: NDSS2013 -->
<li ><p>
Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Jike Lei, Guozhu Meng, Sai Sathyanarayan Venkatraman, Prateek Saxena, Jun
Sun, Yang Liu and Jin Song Dong
<br>
<b>AuthScan: Automatic Extraction of Web Authentication
Protocols from Implementations</b>
<br>
<i> Annual Network & Distributed System Security
Symposium (NDSS)</i>, 2013.
<br />
<a href="javascript:toggleBibtex('NDSS2013')">[BibTeX]</a>
<a href="{{ site.url/publications }}" target="_blank">[PDF]</a>
</p>
<div id="bib_NDSS2013" class="bibtex noshow">
<pre>
@inproceedings{NDSS2013,
  author    = {Guangdong Bai and Jike Lei and Guozhu Meng and Sai Sathyanarayan Venkatraman and Prateek Saxena and Jun Sun and Yang Liu and Jin Song Dong},
  title     = {AuthScan: Automatic Extraction of Web Authentication Protocols from Implementations},
  booktitle = {Annual Network & Distributed System Security Symposium (NDSS)},
  publisher = {The Internet Society},
  year      = {2013}
}
}
</pre>
</div>
</li>


<!-- Item: ICECCS2013 -->
<li ><p>
Xiaolei Li, Guangdong Bai, Zhenkai Liang and Heng Yin
<br>
<b>A Software Environment for Confining
Malicious Android Applications via Resource Virtualization</b>
<br>
<i> International Conference
on Engineering of Complex Computer Systems (ICECCS)</i>, 2013.
<br />
<a href="javascript:toggleBibtex('ICECCS2013')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/6601825" target="_blank">[PDF]</a>
</p>
<div id="bib_ICECCS2013" class="bibtex noshow">
<pre>
@inproceedings{ICECCS2013,
author = {Li, Xiaolei and Bai, Guangdong and Liang, Zhenkai and Yin, Heng},
 title = {A Software Environment for Confining Malicious Android Applications via Resource Virtualization},
 booktitle = {Proceedings of the 2013 18th International Conference on Engineering of Complex Computer Systems (ICECCS)},
 year = {2013},
 pages = {208--211},
 publisher = {IEEE Computer Society},
 address = {Washington, DC, USA},
}
</pre>
</div>
</li>

<!-- Item: ICFEM2013 -->
<li ><p>
Jianan Hao, Yang Liu, Wentong Cai, Guangdong Bai and Jun Sun
<br>
<b>vTRUST: A Formal Modeling
and Verification Framework for Virtualization Systems</b>
<br>
<i> International Conference on
Formal Engineering Methods (ICFEM)</i>, 2013.
<br />
<a href="javascript:toggleBibtex('ICFEM2013')">[BibTeX]</a>
<a href="https://link.springer.com/chapter/10.1007/978-3-642-41202-8_22" target="_blank">[PDF]</a>
</p>
<div id="bib_ICFEM2013" class="bibtex noshow">
<pre>
@inproceedings{ICFEM2013,
author="Hao, Jianan and Liu, Yang and Cai, Wentong and Bai, Guangdong and Sun, Jun",
title="vTRUST: A Formal Modeling and Verification Framework for Virtualization Systems",
booktitle="Formal Methods and Software Engineering (ICFEM)",
year="2013",
publisher="Springer Berlin Heidelberg",
pages="329--346",
}
</pre>
</div>
</li>

<h4 style="margin-bottom:10px;padding-top:10px;">2012 & before</h4>

<!-- Item: JNCA2012 -->
<li ><p>
Liang Gu, Guangdong Bai, Yao Guo, Xiangqun Chen and Hong Mei
<br>
<b>Security Model Oriented
Attestation on Dynamically Reconfigurable Component-Based Systems</b>
<br>
<i> Journal of Network
and Computer Applications</i>, 35(3):974-981, 2012.
<br />
<a href="javascript:toggleBibtex('JNCA2012')">[BibTeX]</a>
<a href="https://www.sciencedirect.com/science/article/pii/S1084804511000683" target="_blank">[PDF]</a>
</p>
<div id="bib_JNCA2012" class="bibtex noshow">
<pre>
@article{JNCA2012,
title = "Security model oriented attestation on dynamically reconfigurable component-based systems",
journal = "Journal of Network and Computer Applications",
volume = "35",
number = "3",
pages = "974 - 981",
year = "2012",
author = "Liang Gu and Guangdong Bai and Yao Guo and Xiangqun Chen and Hong Mei",
}
</pre>
</div>
</li>

<!-- Item: SecureComm2010 -->
<li ><p>
Guangdong Bai<span style="color:DarkOrange">[&#617;]</span>, Tao Feng, Liang Gu, Yao Guo and Xiangqun Chen
<br>
<b>Context-Aware Usage Control
for Android</b>
<br>
<i> International ICST Conference on Security and Privacy in
Communication Networks (SecureComm)</i>, 2010.
<br />
<a href="javascript:toggleBibtex('SecureComm2010')">[BibTeX]</a>
<a href="https://link.springer.com/chapter/10.1007/978-3-642-16161-2_19" target="_blank">[PDF]</a>
</p>
<div id="bib_SecureComm2010" class="bibtex noshow">
<pre>
@InProceedings{SecureComm2010,
author="Bai, Guangdong and Gu, Liang and Feng, Tao and Guo, Yao and Chen, Xiangqun",
title="Context-Aware Usage Control for Android",
booktitle="Security and Privacy in Communication Networks (SecureComm)",
year="2010",
publisher="Springer Berlin Heidelberg",
pages="326--343",
}
</pre>
</div>
</li>


      </ol>
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
