<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>


<h1> Professional Services </h1>
 
<h4 style="margin-bottom:10px;padding-top:10px;">Conference General Chair</h4>
<li >
The 24th International Conference on Formal Engineering Methods (ICFEM 2023)
<br />
</li>
    
    
<h4 style="margin-bottom:10px;padding-top:10px;">Program Commitee Chair</h4>
<li >
The 16th International Conference on Network and System Security (NSS 2022)
<br />
</li>
    
<li >
The 3rd Symposium on Distributed Ledger Technology (SDLT3)
<br />
</li>

<li >
The 22nd International Conference on Engineering of Complex Computer Systems (ICECCS 2017)
<br />
</li>

<h4 style="margin-bottom:10px;padding-top:10px;">Program Committee Member</h4>

<li >
The 31st Network and Distributed System Security Symposium (NDSS 2024)
<br />
</li>
    
<li >
The 30th ACM Conference on Computer and Communications Security (CCS 2023) 
<br />
</li>

<li >
The 38th IEEE/ACM International Conference on Automated Software Engineering (ASE 2023)   
<br />
</li>
   
<li >
The Web Conference 2022 (WWW 2022)
<br />
</li>
    
<li >  
The 27th European Symposium on Research in Computer Security (ESORICS 2022)
  <br />
</li>
    
<li >
The 31st ACM International Conference on Information and Knowledge Management (CIKM 2022)
<br />
</li>
    
<li >  
  The 23rd International Conference on Formal Engineering Methods (ICFEM 2022)
  <br />
</li>
 
<li >
The 27th International Conference on Engineering of Complex Computer Systems (ICECCS 2022)
<br />
</li>
    
<li >
The 24th International Conference on Information and Communications Security (ICICS 2022)
<br />
</li>
    
<li >
The 16th International Symposium on Theoretical Aspects of Software Engineering (TASE 2022)
<br />
</li>
    
<li >
The 26th International Conference on Engineering of Complex Computer Systems (ICECCS 2021)
<br />
</li>


<li >  
The 26th European Symposium on Research in Computer Security (ESORICS 2021)
  <br />
</li>
    

<li >  
The 19th IEEE International Conference on Trust, Security and Privacy in Computing and Communications (TrustCom 2020)
  <br />
</li>

<li >  
  The 22nd International Conference on Formal Engineering Methods (ICFEM 2020)
  <br />
</li>
    
<li >
The 25th International Conference on Engineering of Complex Computer Systems (ICECCS 2020)
<br />
</li>
    
<li >
    The 14th International Symposium on Theoretical Aspects of Software Engineering (TASE 2020)
    <br />
</li>

<li >
    The 20th International Conference on Parallel and Distributed Computing, Applications and Technologies (PDCAT 2019)
    <br />
</li>
    
<li >  
  The 21st International Conference on Formal Engineering Methods (ICFEM 2019)
  <br />
</li>
  
<li >
The 13th International Symposium on Theoretical Aspects of Software Engineering (TASE 2019)
<br />
</li>

<li >
The 14th ACM ASIA Conference on Computer and Communications Security (ACM ASIACCS 2019)
<br />
</li>

<li >
The 20th International Conference on Engineering of Complex Computer Systems (ICECCS 2015)
<br />
</li>

<li >
Doctoral Symposium at the 20th International Conference on Engineering of Complex Computer Systems
<br />
</li>

<li >
The 4th International Workshop on Engineering Safety and Security Systems (ESSS 2015), co-located with FM 2015
<br />
</li>
    
<h4 style="margin-bottom:10px;padding-top:10px;">Editorial Board</h4> 
<li >
<b>Associate Editor</b>: Frontiers in Computer Science
<br />
</li> 
 
<h4 style="margin-bottom:10px;padding-top:10px;">Others</h4> 
<li >
<b>Poster Co-Chair</b>: The 18th ACM ASIA Conference on Computer and Communications Security (ACM ASIACCS 2023)
<br />
</li>
    
<li >
<b>Local Chair</b>: International Conference Advanced Data Mining and Applications (ADMA 2022)
<br />
</li>  
    
<li >
<b>Organization Chair</b>: The 4th Symposium on Distributed Ledger Technology (SDLT 2019)
<br />
</li>    
    
<li >
<b>Publication Chair</b>: The 20th International Conference on Engineering of Complex Computer Systems (ICECCS 2015)
<br />
</li>
    
<li >
<b>Workshop and Tutorial Chair Chair</b>: The 24th International Conference on Engineering of Complex Computer Systems (ICECCS 2019)
<br />
</li>   
    
<h1> Invited Reviewer </h1>
<li> IEEE Transactions on Software Engineering (TSE) </li>  
<li> ACM Transactions on Software Engineering and Methodology (TOSEM) </li>
<li> IEEE Transactions on Information Forensics and Security (TIFS) </li>
<li> IEEE Transactions on Dependable and Secure Computing (TDSC) </li>
<li> IEEE Transactions on Parallel and Distributed Systems (TPDS) </li>
<li> IEEE Transactions on Industrial Informatics </li>
<li> IEEE Transactions on Network Science and Engineering </li>
<li> IEEE Internet of Things Journal </li>
<li> Journal of Parallel and Distributed Computing </li>
<li> Journal of Formal Aspects of Computing (FAOC) </li>
<li> Journal of Software and System Modeling </li>
<li> The Computer Journal </li>
    
<h1> Talks Given by me</h1>
    
<!-- Item: BHAsia2021-->
<li >
<b>Hey, You, Get off My Private Data: Do Apps Respect Your Privacy as They Claim?</b>
<br>
<i>Black Hat Asia</i>, online, May 2021. 
<br />
</li>
    
<br>
    
<!-- Item: FROM2020-->
<li >
<b>Security Analysis of Internet-or-Things Systems: An Integration Perspective</b>
<br>
<i>Working Formal Methods Symposium (FROM) </i>, Sep 2020. 
<br />
</li>

<br>
    
<!-- Item: HITB2020-->
<li >
<b>The Secret Codes Tell the Secrets</b>
<br>
<i>HITB Lock Down</i>, online, July 2020. 
<br />
</li>

<br>
    

<!-- Item: PKU2019 -->
<li >
<b>Trusted Computing based Protocols: Modeling and Analysis </b>
<br>
<i>Peking University</i>, Beijing, China, Jul 2019. 
<br />
</li>
 
 <br>
    
<!-- Item: Oracle2019 -->
<li >
<b>Towards Model Checking Event-driven Applications for Security Properties </b>
<br>
<i>Oracle</i>, Brisbane, Australia, Jan 2019. 
<br />
</li>
 
 <br>
    
   
<!-- Item: SyScan2018 -->
<li >
<b>A New Fuzzing Method on Android </b>
<br>
<i>SyScan360</i>, Singapore, Mar 2018. 
<br />
</li>

<br>
    
<!-- Item: HITB2017 -->
<li >
<b>The Nightmare of Fragmentation: A Case Study of 200+ Vulnerabilities in Android Phones</b>
<br>
<i>HITB GSEC</i>, Singapore, Aug 2017. 
<br />
</li>
<br>
    
<!-- Item: Blackhat2017 -->
<li >
<b>3G/4G Intranet Scanning and its Application on the WormHole Vulnerability</b>
<br>
<i>Black Hat Asia</i>, Singapore, Mar 2017. 
<br />
</li>
<br>
    
<!-- Item: Blackhat2015 -->
<li >
<b>Authenticator Leakage through Backup Channels on Android</b>
<br>
<i>Black Hat Europe</i>, Amsterdam, The Netherlands, Nov 2015. 
<br />
</li>
<br>
    
<!-- Item: PKU2015 -->
<li >
<b>Extracting Model from Implementations of Web Authentication Protocols</b>
<br>
<i>Peking University</i>, Beijing, China, Oct 2015. 
<br />
</li>
<br>

      </ul>

</ul>



    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
